@font-face {
  font-family: 'PT Sans';
  font-weight: 400;
  src: local('PT Sans'),
       url('/fonts/ptsansnarrow.woff') format('woff'),
       url('/fonts/ptsansnarrow.woff') format('woff2'),
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans'),
       url('/fonts/ptsansnarrowbold.woff') format('woff'),
       url('/fonts/ptsansnarrowbold.woff2') format('woff2'),
}


body {
  font-family: 'PT Sans','Arial', 'Helvetica', 'sans-serif';
  font-size: 14px;
  text-transform: uppercase;
  background: url('img/bg.jpg') no-repeat;
  color: #000000;
  font-weight: bold;
}
}

b.features-name {
  font-size: 14px;
  line-height: 1.7;
}


.features p {
  font-size: 14px;
  line-height: 1.7;


h2  {
  font-size: 30px;
}
